<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <p>{{user}}</p>
      <p>{{error}}</p>
      <table border="1">
        <tr>
          <th>Date</th>
          <th>Blog</th>
        </tr>
        {{data}}
      </table>
      <br>
      <div class="form-group">
        <form action="/search_blog" method="GET">
          <input type="text" class="form-control" name="search" placeholder="query">
          <button type="submit" class="btn btn-primary">search</button>
        </form>
      </div>
      <div class="form-group">
        <form action="/insert_blog" method="POST">
          <textarea class="form-control" rows="3" name="blog_post" placeholder="write a blog..."></textarea>
          <button type="submit" class="btn btn-primary">submit</button>
        </form>
      </div>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>



